<?xml version="1.0"?>
<config>
    <modules>
        <Webformat_Commons>
            <version>0.8.3</version>
            <description>Webformat Common functions</description>
        </Webformat_Commons>
    </modules>
    <global>
        <helpers>
            <webformat_commons>
                <class>Webformat_Commons_Helper</class>
            </webformat_commons>
        </helpers>
        <blocks>
            <webformat_commons>
                <class>Webformat_Commons_Block</class>
            </webformat_commons>
        </blocks>
        <resources>
            <webformat_commons_setup>
                <setup>
                    <module>Webformat_Commons</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webformat_commons_setup>
            <webformat_commons_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webformat_commons_write>
            <webformat_commons_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webformat_commons_read>
        </resources>
        <models>
            <webformat_commons>
                <class>Webformat_Commons_Model</class>
                <resourceModel>webformat_commons_resource</resourceModel>
            </webformat_commons>
            <webformat_commons_resource>
                <class>Webformat_Commons_Model_Resource</class>
                <entities>
                    <log>
                        <table>webformat_commons_log_entity</table>
                    </log>
                    <task>
                        <table>webformat_commons_task_entity</table>
                    </task>
                    <task_event>
                        <table>webformat_commons_task_event_entity</table>
                    </task_event>
                </entities>
            </webformat_commons_resource>
        </models>
    </global>
    <admin>
        <routers>
            <webformat_commons>
                <use>admin</use>
                <args>
                    <module>Webformat_Commons</module>
                    <frontName>webformat_commons</frontName>
                </args>
            </webformat_commons>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <webformat_commons>
                    <file>webformat/commons.xml</file>
                </webformat_commons>
            </updates>
        </layout>
        <translate>
            <modules>
                <webformat_commons>
                    <files>
                        <default>webformat/Webformat_Commons.csv</default>
                    </files>
                </webformat_commons>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
        </jobs>
    </crontab>
    <default>
        <webformat_commons>
            <connection>
                <type>1</type>
                <import_local_path>/tmp</import_local_path>
                <export_local_path>/tmp</export_local_path>
            </connection>
        </webformat_commons>
    </default>
    <webformat_commons>
        <logger>
            <backend>filesystem</backend>
            <filesystem>
                <class>webformat_commons/log_filelogger</class>
            </filesystem>
        </logger>
    </webformat_commons>
</config>
